h1 {font-size: 450%;
}
h1 {color: rgb(136, 5, 5);
}
h1 {text-align: center;
}
#img1 {margin-left: 27%;
}
#img1 {width: 45%;
}
#img1 {border : solid black ;
}
#img2 {margin-left: 27%;
}
#img2 {width: 45%;
}
#img2 {border: solid black;
}
h1 {border: solid black;
}
body {background-color: darkgray;
}
h2 {border: solid black;
}
h3 {border: solid black;
}
h3 {font-size: 150%;
}